div#annotator-root {
  margin-top: 65px;
  background: white; 
  padding: 0;
  margin: 0;
}

.side-panel.row .row {
    padding-left: 0 !important;
}

div#annotator-root #openPanel{
    display: block;
}

div#annotator-root.topPanelDisplayed #openPanel{
    opacity: 0;
    cursor: default;
}

div#annotator-root .row{
    margin-right: 0;
    margin-left: 0;
}

section#top-panel div.row:nth-of-type(2){
    position: relative;
}

button#create-annotation{
    position: absolute;
    right: 0;
}

div#stats{
    padding-top: 9em;
    width: 21cm;
    display: block;
    align-self: auto;
    margin: 0 auto;
}

div#stats span{
    font-weight: bold;
    padding-right: 1em;
}

section#editor{
    padding-top: 1.5em;
    line-height: 2em;
}

section#toolbar, section#top-panel{
    position:fixed;
    left: 0;
    z-index: 300;
    background:white;
    height: 8em;
    width: 100%;
    box-shadow: 0 1px 3px 1px rgba(60,64,67,.15);
    display: flex;
    align-items: center;
    flex-direction: column;
}

section#toolbar{
    padding-top:5px;
}

section#top-panel{
    padding-top:6px;
    z-index: 200;
    height: 10.5em;
    top: 16em;
    display: none;
}

div#annotator-root.topPanelDisplayed section#top-panel{
    display:flex;
}

div#annotator-root.topPanelDisplayed div#stats{
    padding-top:19.5em;
}

div#annotator-root.timelineExpanded div#stats{
    padding-top:12em;
}

div#annotator-root.topPanelDisplayed.timelineExpanded div#stats{
    padding-top:23em;
}

div#annotator-root.topPanelDisplayed.timelineExpanded section#top-panel{
    margin-top: 8em;
}

div#annotator-root[annotation=tei].topPanelDisplayed div#stats{
    padding-top:15em;
}

div#annotator-root[annotation=tei].topPanelDisplayed.timelineExpanded div#stats{
    padding-top:19em;
}

div#annotator-root[annotation=tei] section#top-panel{
        height: 6.5em;
}

div#annotator-root[annotation=tei] section#top-panel{
        height: 6.5em;
}

div#annotator-root[annotation=tei] #top-panel #toolbar-controls .row:nth-of-type(2){display:none;}
div#annotator-root[annotation=tei] #top-panel #toolbar-controls .row:nth-of-type(4){display:none;}
div#annotator-root[annotation=tei] #top-panel #toolbar-controls span#cert-input {display:none;}

div.toolbarRow div.row.closePanel{
    justify-content: center;
    position: absolute;
    bottom: 0;
    align-self: center;
}

div.toolbarRow#toolbar-controls{
    display: flex;
    flex-direction: column;
    height: 100%;
}

div.toolbarRow{
    width: 21cm;
    height: 4em;
    display: inline-block;
    position: relative;
}

div.toolbarRow div.row{
    padding-top: 5px;
    display: flex;
    flex-direction: row;
}
section#toolbar div.row{
    justify-content: space-between;
}

section#toolbar form, section#toolbar input,
section.panel form, section.panel input{
    display: inline-block;
}

section.panel #attribute-name-input{display: none;}
div#annotator-root[locus='attribute'] section.panel #attribute-name-input{display: inline-block;}

section.panel #references-container{display: none;}

section.panel #references{display: none;}

div#annotator-root[locus='attribute'][attribute-name='sameAs'][tag-name='event'] #references-container,
div#annotator-root[locus='attribute'][attribute-name='sameAs'][tag-name='org'] #references-container,
div#annotator-root[locus='attribute'][attribute-name='sameAs'][tag-name='person'] #references-container,
div#annotator-root[locus='attribute'][attribute-name='sameAs'][tag-name='place'] #references-container{
    display: initial;
}

input#attribute-name{max-width: 9em;}

input#type{
    width:2.6em;
}

input#certainty{
    width:4em;
}

a.help{
    font-size: 0.8em;
    color: blue;
    cursor: pointer;
}

div#toolbar-header label span{
    font-family: serif;
    color: grey;
}

div#toolbar-header #fileName h2{
    margin : 0;
    color:black;
    font-size: 2.5em;
}

div#toolbar-header #fileName h2 a{
    font-size: .8em;
}

page {
  padding: 16px 16px;
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 1px 3px 1px rgba(60,64,67,.15);
  box-sizing: border-box;
}
page[size="A4"] {  
  width: 21cm;
}

div#side-panel .row{
    padding-left: 15px;
}

div#side-panel,
div#legend-right{
    /*display: none;*/
    font-size: small;
    position:fixed;
    margin-left: 2em;
    margin-top: 1.8em;
    line-height: 1.8em;
    z-index:500;
    width:300px;
    min-height:8em;
    line-height: 1.4em;
    padding: 7px;
}

div#legend-right i.fas{
    color:grey;
    font-weight: 900;
    font-size: 0.9em;
}

div#side-panel,
div#legend-right{
    display: none;
}

div.side-panel,
div#legend-right{
    background-color:white;
    box-shadow:0 1px 3px 1px rgba(60,64,67,.15);
}


div#side-panel hr{border-style: dashed;}
div#side-panel div#desc,
div#side-panel div#text{
    background-color: lightgrey;
}

div#legend-right{
    display: none;
    right: 2em;
}

div#annotator-root[display-legend="true"] div#legend-right{
    display:block;
}

div.legend span.teiLegendElement{
    display:block;

}

span.teiLegendElement span.color{
    display: inline-block;
    height:1em;
    width:1em;
    margin-right: 3px;
    border:solid black 1px;
    position: relative;
    top:3px;
}

div#side-panel div#certrange{
    display: inline-block;
}

div#side-panel div#certrange span{
    display: inline-block;
    height:1em;
    width:1em;
    margin-right: 3px;
    border:solid black 1px;
}

div#side-panel div#certrange span:nth-child(1){
    background-color: #fef0d9;
}

div#side-panel div#certrange span:nth-child(2){
    background-color: #fdcc8a;
}

div#side-panel div#certrange.unknown span:nth-child(2){
    background-color: white;
}

div#side-panel div#certrange.medium span:nth-child(3){
    background-color: #fc8d59;
}

div#side-panel div#certrange.high span:nth-child(3){
    background-color: #fc8d59;
}

div#side-panel div#certrange.high span:nth-child(4){
    background-color: #d7301f;
}

div#annotator-root.sidePanelDisplayed div#side-panel{
    display:block;
}

section#toolbar, section#top-panel{
    font-size: 13px;
}

section#asserted-value-input-options{display: none;}

@-moz-document url-prefix() {
    section#top-panel{
        z-index: 200;
        height: 13.5em;
        padding-top: 0.5em;
        top: 150px;
        align-items: center;
    }

    div#annotator-root[annotation=tei] section#top-panel{
        height: 7.5em;
    }

    section#toolbar, section#top-panel{
        font-size: 12px;
    }

    section#toolbar form, section#toolbar input{
        height: 10px;
        display: inline-block;
    }

    input[type="text"]{
        width:9em;
    }

    div#annotator-root.topPanelDisplayed section#top-panel{
        margin-top: 4em;
    }

    div#annotator-root.topPanelDisplayed.timelineExpanded section#top-panel{
        margin-top: 8em;
    }
}

/* ------------------ annotations.css ------------------ */
/* ----------------------------------------------------- */

/* TEI markdown highlighting
 * 
*/
div#annotator-root[color-annotations="false"] placeName,
div#annotator-root[color-annotations="false"] place,
div#annotator-root[color-annotations="false"] country,
div#annotator-root[color-annotations="false"] location,
div#annotator-root[color-annotations="false"] geogName,
div#annotator-root[color-annotations="false"] geolocation,
div#annotator-root[color-annotations="false"] person,
div#annotator-root[color-annotations="false"] name,
div#annotator-root[color-annotations="false"] persName,
div#annotator-root[color-annotations="false"] occupation,
div#annotator-root[color-annotations="false"] event,
div#annotator-root[color-annotations="false"] object,
div#annotator-root[color-annotations="false"] date,
div#annotator-root[color-annotations="false"] time,
div#annotator-root[color-annotations="false"] org,
div#annotator-root[color-annotations="false"] pb,
div#annotator-root[color-annotations="false"] rolename
{
    border-color: lightgrey !important;
}

div#annotator-root[display-annotations="true"] placeName::before,
div#annotator-root[display-annotations="true"] place::before,
div#annotator-root[display-annotations="true"] country::before,
div#annotator-root[display-annotations="true"] location::before,
div#annotator-root[display-annotations="true"] geogName::before,
div#annotator-root[display-annotations="true"] geolocation::before,
div#annotator-root[display-annotations="true"] person::before,
div#annotator-root[display-annotations="true"] name::before,
div#annotator-root[display-annotations="true"] persName::before,
div#annotator-root[display-annotations="true"] occupation::before,
div#annotator-root[display-annotations="true"] event::before,
div#annotator-root[display-annotations="true"] object::before,
div#annotator-root[display-annotations="true"] date::before,
div#annotator-root[display-annotations="true"] time::before,
div#annotator-root[display-annotations="true"] org::before,
div#annotator-root[display-annotations="true"] pb::before,
div#annotator-root[display-annotations="true"] rolename::before,
div#annotator-root[display-annotations="true"] person::after
{
    content:"";
    position: absolute;
    font-size: 0.9em;
    padding-top:1.3em;
    color:grey;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

div#annotator-root[display-annotations="false"] placeName,
div#annotator-root[display-annotations="false"] place,
div#annotator-root[display-annotations="false"] country,
div#annotator-root[display-annotations="false"] location,
div#annotator-root[display-annotations="false"] geogName,
div#annotator-root[display-annotations="false"] geolocation,
div#annotator-root[display-annotations="false"] person,
div#annotator-root[display-annotations="false"] name,
div#annotator-root[display-annotations="false"] persName,
div#annotator-root[display-annotations="false"] occupation,
div#annotator-root[display-annotations="false"] event,
div#annotator-root[display-annotations="false"] object,
div#annotator-root[display-annotations="false"] date,
div#annotator-root[display-annotations="false"] time,
div#annotator-root[display-annotations="false"] org,
div#annotator-root[display-annotations="false"] pb,
div#annotator-root[display-annotations="false"] rolename
{
    border-color: white !important;
} 

placeName,place,country,location,geogName,geolocation,
person, name,persName,occupation,event,object,date,time,
org,pb,rolename {
    min-height: 4px;
    margin: 2px 0;
    border-bottom: solid 2px white;
}

/* Locations : 
 * */
placeName,
place,
country,
[type="place"]{
    border-color: #204191;
}

div#annotator-root[display-annotations="true"] placeName::before,
div#annotator-root[display-annotations="true"] place::before{
    content:"\f279";
}

div#annotator-root[color-annotations="true"] placeName::before,
div#annotator-root[color-annotations="true"] place::before{
    color: #204191;
}

div#annotator-root[display-annotations="true"] country::before{
    content:"\f67f";
}

div#annotator-root[color-annotations="true"] country::before{
    color: #204191;
}

span.teiLegendElement#placeName span.color,
span.teiLegendElement#country span.color,
span.teiLegendElement#place span.color{
    background-color: #204191;
}

location,
geolocation,
geogName{
    border-color: #ff6464;
}

div#annotator-root[display-annotations="true"] location::before,
div#annotator-root[display-annotations="true"] geolocation::before,
div#annotator-root[display-annotations="true"] geogName::before{
    content:"\f5a0";
}

div#annotator-root[color-annotations="true"] location::before,
div#annotator-root[color-annotations="true"] geolocation::before,
div#annotator-root[color-annotations="true"] geogName::before{
    color: #ff6464;
}

span.teiLegendElement#geogName span.color,
span.teiLegendElement#location span.color{
    background-color: #ff6464;
}

/* People
 * */
person,
[type="person"]{
    border-color: #ff7f00;
}
div#annotator-root[display-annotations="true"] person::after{
    content:"\f007";
    position: absolute;
    font-size: 0.9em;
    padding-top:1.3em;
}

div#annotator-root[color-annotations="true"] person::after{
    color: #ff7f00;
}

span.teiLegendElement#person span.color{
    background-color: #ff7f00;
}

name,
persName{
    border-color: #5385c4;
}

div#annotator-root[display-annotations="true"] name::before,
div#annotator-root[display-annotations="true"] persName::before{
    content:"\f507";
}

div#annotator-root[color-annotations="true"] name::before,
div#annotator-root[color-annotations="true"] persName::before{
    color: #5385c4;
}

span.teiLegendElement#persName span.color,
span.teiLegendElement#name span.color{
    background-color: #5385c4;
}


occupation{
    border-color: #3c8745;
}

div#annotator-root[display-annotations="true"] occupation::before{
    content:"\f0b1";
}

div#annotator-root[color-annotations="true"] occupation::before{
    color: #3c8745;
}

span.teiLegendElement#occupation span.color{
    background-color: #3c8745;
}
/* Events
 */
event{
    border-color: #cecece;
}

div#annotator-root[display-annotations="true"] event::before{
    content:"\f274";
}

div#annotator-root[color-annotations="true"] event::before{
    color: #cecece;
}

span.teiLegendElement#event span.color{
    background-color: #cecece;
}

/* Objects 
 */
object{
    border-color: #b4d38d;
}

div#annotator-root[display-annotations="true"] object::before{
    content:"\f466";
}

div#annotator-root[color-annotations="true"] object::before{
    color: #b4d38d;
}

span.teiLegendElement#object span.color{
    background-color: #b4d38d;
}

/* Time
 */
date{
    border-color: #868788;
}
div#annotator-root[display-annotations="true"] date::before{
    content:"\f073";
}
div#annotator-root[color-annotations="true"] date::before{
    color: #868788;
}
span.teiLegendElement#date span.color{
    background-color: #868788;
}

time{
    border-color: #eab9e4;
}
div#annotator-root[display-annotations="true"] time::before{
    content:'\f017';
}
div#annotator-root[color-annotations="true"] time::before{
    color: #eab9e4;
}
span.teiLegendElement#time span.color{
    background-color: #eab9e4;
}

org{
    border-color: #b4edfc;
}
div#annotator-root[display-annotations="true"] org::before{
    content:"\f1ad";
}
div#annotator-root[color-annotations="true"] org::before{
    color: #b4edfc;
}
span.teiLegendElement#org span.color{
    background-color: #b4edfc;
}

pb{
    width: 15px;
    z-index: 200;
    border-color: blue;
}

roleName{
    width: 15px;
    z-index: 200;
    border-color: black;
}

/* -------------------- tags.css ----------------------- */
/* ----------------------------------------------------- */

desc{
    display: none;
}

.ignorance{
    /*Blue*/
    background-color: rgba(146, 112, 168,0.5);
}

.imprecision{
    /*Violet*/
    background-color: rgba(241, 209, 85, 0.5);
}

.credibility{
    /*Orange*/
    background-color: rgba(204, 76, 59, 0.5);
}

.incompleteness{
    /*Green*/
    background-color: rgba(103, 178, 172, 0.5);
}

[category="ignorance"]{
    /*Blue*/
    background-color: #9270a8;
}

[category="imprecision"]{
    /*Violet*/
    background-color: #f1d155;
}

[category="credibility"]{
    /*Orange*/
    background-color: #cc4c3b;
}

[category="incompleteness"]{
    /*Green*/
    background-color: #67b2ac;
}

[category="ignorance"][cert="medium"]{
    /*Blue*/
    background-color: #aa95bb;
}

[category="imprecision"][cert="medium"]{
    /*Violet*/
    background-color: #f2dd8f;
}

[category="credibility"][cert="medium"]{
    /*Orange*/
    background-color: #d87c6f;
}

[category="incompleteness"][cert="medium"]{
    /*Green*/
    background-color: #9bc4c1;
}

[category="ignorance"][cert="low"]{
    /*Blue*/
    background-color: #c7b7d3;
}

[category="imprecision"][cert="low"]{
    /*Violet*/
    background-color: #f6e7a9;
}

[category="credibility"][cert="low"]{
    /*Orange*/
    background-color: #ebb1a6;
}

[category="incompleteness"][cert="low"]{
    /*Green*/
    background-color: #bbd7d5;
}

[category="ignorance"][cert="unknown"]{
    /*Blue*/
    background-color: #e2dce8;
}

[category="imprecision"][cert="unknown"]{
    /*Violet*/
    background-color: #fbf3d4;
}

[category="credibility"][cert="unknown"]{
    /*Orange*/
    background-color: #f1d9d4;
}

[category="incompleteness"][cert="unknown"]{
    /*Green*/
    background-color: #dceaea;
}

certainty{
    background-image: linear-gradient(180deg, white 11px, transparent 1%);
    background-position: center;
    background-size: 10px 1.3em;
}
    
certainty[author="me"]{
    background-image: none;
}

div#annotator-root[color-uncertainty="false"] section#editor certainty{
    background-color: lightgrey !important;
} 

div#annotator-root[display-uncertainty="false"] section#editor certainty{
    background-color: white !important;
} 

/* ------------------- timeline.css -------------------- */
/* ----------------------------------------------------- */

div#timeline {
    margin-top: 10px;
    height: 2em;
    position: relative;
}

div#timeline div#time-bar{
    position:relative;
    display: flex;
    align-items: center;

}

div#timeline div#time-bar hr{
    margin: 0;
    padding: 0 0;
    width: 21cm;
}

div#timeline a.timestamp{
    position:absolute;
    width:8px;
    height:8px;
    background-color:black;
}

div#timeline div#popup{
    display:none;
    position:absolute;
    z-index:500;
    width:22em;
    line-height: 1.4em;
    padding: 7px;
    background-color:white;
    box-shadow:0 1px 3px 1px rgba(60,64,67,.15);
}

div#timeline div#popup div.content{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

div#timeline div#popup span{
    display: inline-block;
}

div#timeline div#popup span.color{
    display: inline-block;
    height: 1em;
}

div#timeline a#toggle-timeline-details{
    display:inline-block;
    width:17em;
    position: absolute;
    left: 21.1cm;
}

div#timeline div#time-bar canvas{
    position:absolute;
    padding-top: 2px;
    display:none;
}

.timelineExpanded section#toolbar{height:12em;}
.timelineExpanded section#toolbar div#toolbar-header{height:8em;}
.timelineExpanded section#toolbar div#timeline{height:5em;}
.timelineExpanded section#toolbar div#timeline hr{height:4em;}
.timelineExpanded div#timeline div#time-bar canvas{display:block}
.timelineExpanded div#timeline div#time-bar a.timestamp{
    top:4em;
}

* { box-sizing: border-box; }
body {
  font: 16px Arial; 
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}
.autocomplete-active {
  background-color: #337AB7 !important; 
  color: #ffffff; 
}

input#references-autocomplete {
    width: 20em;
}

input#desc {
    width: 20em;
}