.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}



body {
  background: rgb(248, 249, 250);
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

span.annotation{
	background-color: lightblue;
}

div#stats{
	padding-top: 5em;
	width: 21cm;
	display: block;
	align-self: auto;
	margin: 0 auto;
}

div#stats span{
	font-weight: bold;
	padding-right: 1em;
}

section#editor{
	padding-top: 1.5em;
	line-height: 1.8em;
}

section#toolbar, section#top-panel{
	position: sticky;
	top: 100px;
	z-index: 300;
	background: white;
	height: 50px;
	box-shadow: 0 1px 3px 1px rgba(60,64,67,.15);
	display: flex;
	align-items: center;
	justify-content: center;
}

section#top-panel{
	z-index: 200;
	height: 6.3em;
	top: 150px;
	display: none;
}

div.toolbarRow div.row.closePanel{
	justify-content: center;
}

div.toolbarRow{
	width: 21cm;
	height: 4em;
	display: inline-block;
}

div.toolbarRow div.row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

section#toolbar form, section#toolbar input,
section.panel form, section.panel input{
	display: inline-block;
}

input#certainty, input#type{
	width:2.6em;
}

a.help{
	font-size: 0.8em;
	color: blue;
	cursor: pointer;
}

div#toolbar-header label span{
	font-family: serif;
	color: grey;
}

div#toolbar-header label span#name{
	font-family: sans-serif;
	color:black;
	font-size: 2.5em;
}

page {
  padding: 16px 6px;
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 1px 3px 1px rgba(60,64,67,.15);
}
page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}

/* TEI markdown highlighting
 *
*/
span.teiElement{
	min-height: 4px;
	margin: 2px 0;
	border-bottom: solid 2px white;
}

span.name{
	z-index: 200;
	border-color: green;
}

span.pb{
	width: 15px;
	z-index: 200;
	border-color: blue;
}

span.rolename{
	width: 15px;
	z-index: 200;
	border-color: black;
}

span.p{
	z-index: 100;
	border-color: red;
}

span.name{
	z-index: 200;
	border-color: green;
}

span.name{
	z-index: 200;
	border-color: green;
}

section#editor[color-uncertainty="false"] span.annotation{
	background-color: lightgrey;
}

section#editor[color-annotations="false"] span{
	border-color: lightgrey;
}

section#editor[display-uncertainty="false"] span.annotation{
	background-color: white;
}

section#editor[display-annotations="false"] span{
	border-color: white;
}



@-moz-document url-prefix() {
	section#top-panel{
		z-index: 200;
		height: 7.5em;
		padding-top: 0.5em;
		top: 150px;
		align-items: center;
		justify-content: center;
	}

  	section#toolbar, section#top-panel{
		font-size: 12px;
	}

	section#toolbar form, section#toolbar input,
	section.panel form, section.panel input{
		height: 10px;
		display: inline-block;
	}

	input[type="text"]{
		width:9em;
	}
}
